# build
build/
build-*/

# IDE
.vs/
.vscode/
.idea/

# models (too large)
*.gguf

# cmake
CMakeCache.txt
CMakeFiles/

# OS
.DS_Store
Thumbs.db

# agent
.crush/
AGENTS.md
CLAUDE.md

# build bat
*.bat

#test
test_area
python_gui/*.json

*.wav

# dotnet build outputs
**/bin/
**/obj/
*.user
*.suo
dotnet/